.sql-viewer-options .btn {
    margin: 20px 5px 5px;
}

.sql-viewer-options #TIP {
    margin-right: 2px;
    border: none;
    background-color: #eee;
    cursor: default;
      font-weight: bold;
}

#TIP:focus {
    outline: none;
}

.sql-viewer-options .btn , .sql-viewer-options .bootstrap-select {
    margin-right: 10px;
}
